.page-title {
  display: inline;
}

.crud-form {
  max-width: 560px;
}

.btn-wide {
  margin: 15px 0;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .sidenav {
    margin-top: 50px;
  }
}

@media screen and (max-width: 992px) {
  .sidenav {
    margin-top: 15px;
  }

  .sidenav > ul > li {
    display: inline;
  }
}
