{% extends "index.njk" %}

{% block content %}
    <h1 class="page-title">Create user</h1>
    <form action="/users" method="post" class="crud-form">
        <input type="hidden" name="_method" value="{% if user %}put{% else %}post{% endif %}">
        {% if user %}
            <input type="hidden" name="_id" value="{{ user._id }}">
        {% endif %}

        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName"
                   name="first_name" value="{{ user.first_name }}" required>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName"
                   name="last_name" value="{{ user.last_name }}">
        </div>
        <div class="form-group">
            <label for="middleName">Middle Name</label>
            <input type="text" class="form-control" id="middleName"
                   name="middle_name" value="{{ user.middle_name }}">
        </div>
        <div class="form-group">
            <label for="birthDate">Birth date</label>
            <input type="text" class="form-control" id="birthDate" autocomplete="off"
                   name="birth_date">
        </div>
        <div class="form-group">
            <label for="passportSeries">Passport series</label>
            <input type="text" class="form-control" id="passportSeries"
                   name="passport_series" value="{{ user.passport_series }}">
        </div>
        <div class="form-group">
            <label for="passportNumber">Passport number</label>
            <input type="text" class="form-control" id="passportNumber"
                   name="passport_number" value="{{ user.passport_number }}">
        </div>
        <div class="form-group">
            <label for="passportIssuer">Passport issuer</label>
            <input type="text" class="form-control" id="passportIssuer"
                   name="passport_issuer" value="{{ user.passport_issuer }}">
        </div>
        <div class="form-group">
            <label for="passportIssueDate">Passport issue date</label>
            <input type="text" class="form-control" id="passportIssueDate"
                   name="passport_issue_date">
        </div>
        <div class="form-group">
            <label for="idNumber">ID number</label>
            <input type="text" class="form-control" id="idNumber"
                   name="id_number" value="{{ user.id_number }}">
        </div>
        <div class="form-group">
            <label for="birthPlace">Birth place</label>
            <input type="text" class="form-control" id="birthPlace"
                   name="birth_place" value="{{ user.birth_place }}">
        </div>
        <div class="form-group">
            <label for="currentCity">Current city</label>
            <select class="form-control" id="currentCity" name="current_city">
                <option value="null" disabled></option>
                {% for city in cities %}
                    <option value="{{ city._id }}"
                            {% if user and city._id | string == user.current_city %}
                                selected
                            {% endif %}
                    >{{ city.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="currentAddress">Current address</label>
            <input type="text" class="form-control" id="currentAddress"
                   name="current_address" value="{{ user.current_address }}">
        </div>
        <div class="form-group">
            <label for="registerCity">Register city</label>
            <select class="form-control" id="registerCity" name="registered_city">
                <option value="null" disabled></option>
                {% for city in cities %}
                    <option value="{{ city._id }}"
                            {% if user and city._id | string == user.registered_city %}
                                selected
                            {% endif %}
                    >{{ city.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="martialStatus">Martial status</label>
            <select class="form-control" id="martialStatus" name="martial_status">
                <option value="null" disabled></option>
                {% for status in martialStatuses %}
                    <option value="{{ status._id }}"
                            {% if user and status._id | string == user.martial_status %}
                                selected
                            {% endif %}
                    >{{ status.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="citizenship">Citizenship</label>
            <select class="form-control" id="citizenship" name="citizenship">
                <option value="null" disabled></option>
                {% for citizenship in citizenships %}
                    <option value="{{ citizenship._id }}"
                            {% if user and citizenship._id | string == user.citizenship %}
                                selected
                            {% endif %}
                    >{{ citizenship.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="disability">Disability</label>
            <select class="form-control" id="disability" name="disability">
                <option value="null" disabled></option>
                {% for disability in disabilities %}
                    <option value="{{ disability._id }}"
                            {% if user and disability._id | string == user.disability %}
                                selected
                            {% endif %}
                    >{{ disability.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input"
                       name="retired" value="retired" {% if user and user.retired %} checked {% endif %}>
                Retired
            </label>
        </div>
        <button class="btn btn-primary btn-wide">
            {% if user %}
                Update
            {% else %}
                Create
            {% endif %}
        </button>
    </form>
{% endblock %}

{% block js %}
    <script>
      const bdPicker = TinyDatePicker('#birthDate', {
        format: (date) => date.toLocaleDateString('ru-RU')
      })

      const pidPicker = TinyDatePicker('#passportIssueDate', {
        format: (date) => date.toLocaleDateString('ru-RU')
      })

      {% if user %}
      bdPicker.state.selectedDate = new Date('{{ moment(user.birth_date) }}')
      pidPicker.state.selectedDate = new Date('{{ moment(user.passport_issue_date) }}')
      {% endif %}
    </script>
{% endblock %}
