{% extends "../index.njk" %}

{% block content %}
    <div class="mt-3">
        <h1 class="page-title">Deposits page</h1>
        <a class="btn btn-success float-right mr-3 mt-2" href="deposits/create">➕ Create</a>
    </div>
    {% if alert %}
        <div class="mt-3 alert alert-{{ alert.type | default('primary') }}" role="alert">
            {{ alert.message }}
        </div>
    {% endif %}
    <table class="table table-striped mt-4">
        <thead>
        <tr>
            <th scope="col">Client</th>
            <th scope="col">Type</th>
            <th scope="col">Initial sum</th>
            <th scope="col">Balance</th>
            <th scope="col">Percentage</th>
            <th scope="col">Operation</th>
        </tr>
        </thead>
        <tbody>
        {% for deposit in deposits %}
            <tr>
                <td><a href="/users/{{ deposit.owner._id }}">{{ deposit.owner.full_name }}</a></td>
                <td>{{ 'Revocable' if deposit.type == 1 else 'Irrevocable' }}</td>
                <td>{{ deposit.sum }}{{ deposit.currency.symbol }}</td>
                <td>{{ deposit.balance }}{{ deposit.currency.symbol }}</td>
                <td>{{ deposit.percent }}%</td>
                <td>
                    <form action="/deposits/withdraw" method="post" class="d-inline">
                        <input type="hidden" name="_id" value="{{ deposit._id }}">
                        <button class="btn btn-outline-secondary">
                            {{ 'Withdraw percents' if deposit.type == 1 else 'Close deposit' }}
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
